*.pyc
*.pyo
*.wpr
*~
/build/
/dist/
/MANIFEST
*.snap
sophia
*.egg-info
.tox

*.xlog
*.snap
*.vylog

# Vim Swap files
*.sw[a-z]
.idea

venv/*

.eggs

tarantool/version.py
pip_dist

# Cannot ignore a directory and negate a single file
# https://www.atlassian.com/git/tutorials/saving-changes/gitignore
rpm/SOURCES
rpm/SRPMS
rpm/BUILDROOT
rpm/BUILD
rpm/RPMS

rpm_dist

debian/python3-tarantool
debian/*debhelper*
debian/files
debian/*.substvars

deb_dist

test/data/*.crt
!test/data/ca.crt
!test/data/invalidhost.crt
!test/data/localhost.crt
test/data/*.csr
test/data/*.ext
test/data/*.key
!test/data/localhost.key
!test/data/localhost.enc.key
test/data/*.pem
test/data/*.srl
