environment:
  matrix:
    - PYTHON: "C:\\Python27"
    - PYTHON: "C:\\Python27-x64"
    - PYTHON: "C:\\Python34"
    - PYTHON: "C:\\Python34-x64"
      # Workaround the build problem [1] by choosing a PyYAML
      # version for which PyPI provides a wheel for this platform
      # and Python version / build.
      #
      # [1]: http://help.appveyor.com/discussions/problems/28023
      PYYAML: "==5.2b1"
    - PYTHON: "C:\\Python35"
    - PYTHON: "C:\\Python35-x64"
    - PYTHON: "C:\\Python36"
    - PYTHON: "C:\\Python36-x64"
    - PYTHON: "C:\\Python37"
    - PYTHON: "C:\\Python37-x64"
    - PYTHON: "C:\\Python38"
    - PYTHON: "C:\\Python38-x64"

install:
  # install runtime dependencies
  - "%PYTHON%\\python.exe -m pip install -r requirements.txt"
  # install testing dependencies
  - "%PYTHON%\\python.exe -m pip install pyyaml%PYYAML% dbapi-compliance==1.15.0"

build: off

test_script:
  - "%PYTHON%\\python.exe setup.py test"
