@import url("default.css");

cite, code, tt {
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
}

dl.attribute, dl.class, dl.method {
    margin-top: 2em;
    margin-bottom: 2em;
}

tt {
    font-size: 100%;
}

th {
    background-color: #fff;
}
