Source: python3-tarantool
Maintainer: tarantool-python AUTHORS <admin@tarantool.org>
Section: python
Priority: optional
# See https://github.com/astraw/stdeb/issues/175 for dependencies
Build-Depends: python3, python3-dev, python3-pip, python3-setuptools,
  python3-distutils, python3-wheel, python3-stdeb, dh-python,
  debhelper (>= 10)
Standards-Version: 3.9.1
Homepage: https://github.com/tarantool/tarantool-python

Package: python3-tarantool
Replaces: tarantool-python (<< 0.9.1~)
Breaks: tarantool-python (<< 0.9.1~)
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Python client library for Tarantool.
